<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
<h1>Student Job Search</h1>
<form action = "JobSearch" method = "get">
	<label>What: <label>
    <input type = "text" name = "jobtitle" placeholder="Job title, Keywords,or Company" style="width: 250px;"/> <br/>
        
    <label> Where</label></br>   
    <input type = "checkbox" name = "location" value = "location1"/>Mississauga<br/>
    <input type = "checkbox" name = "location" value = "location2"/>Oakville<br/>
    <input type = "checkbox" name = "location" value = "location3"/>Brampton<br/>
    <input type = "checkbox" name = "location" value = "location4"/>Toronto<br/>
  
    <input type = "submit" value = "Find job"/> <br/>   
</form>

<form action = "emLogin.jsp">
	<input type = "submit" name = "postJob" value = "postJob"/>Post a job<br/>
</form>

</body>
</html>
