<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
<h1>Student Job Search</h1>
<form action = "JobController" method = "get">
<input type="hidden" name="action" value="search">
	<label>What: </label>
    <input type = "text" name = "title" placeholder="Job title, Keywords,or Company" style="width: 250px;"/> 

    <label> Where: </label>
    <select name="city">
  		<option value="Mississauga">Mississauga</option>
  		<option value="Oakville">Oakville</option>
  		<option value="Brampton">Brampton</option>
  		<option value="Toronto">Toronto</option>
	</select> 
    
    <input type = "submit" value="Find job"> <br/>
</form>

<br><br><br>

<form action = "emLogin.jsp">
	<input type = "submit" value="Post a Job"><br/>
</form>

</body>
</html>